
/* Style a todo el html */
*{
    font-family:'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
}

/* Style header */

.header{
    border-bottom: 2px solid grey;
    background-color: whitesmoke;
}

.header img{
    height: 6rem;
}

/* Style al htmlde index - main */

.main_home{
    background-image: url(../img/backgroundimg.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 13%;
}

.titulo_entrenar{
    color: rgb(2, 241, 241);
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

.descripcion_mision{
    color: rgb(2, 241, 241);
    font-size: 2rem;
    text-align: center;
    margin-top: 47px;
}

/* Style footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: whitesmoke;
}

.escribinos {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.imagen_escribinos {
    max-width: 40px;
}

.datos_contacto {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.redes {
    display: flex;
    justify-items: center;
    align-items: center;
}

.redes a img {
    max-width: 40px;
}

.derechos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.derechos p {
    margin: 0;
    padding-right: 10px;
}

.derechos img {
    max-width: 100px;
}

/* style al html Sobre-nosotros - main */
#sobre-nosotros {
    text-align: center;
}

.card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* style al html Servicios - main */
.titulo_servicios{
    text-align: center; 
    padding-bottom: 20px;
}

/* Style al html Galería de fotos - main */

#carouselExampleIndicators {
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto; /* Center the carousel horizontally */
    background-color: transparent;
}

.carousel-inner {
    max-height: 100%;
}

.carousel-inner img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}



