/* Style footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: whitesmoke;
}

.escribinos {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    img{
        max-width: 40px;
    }
    p{
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }
}

.redes {
    display: flex;
    justify-items: center;
    align-items: center;
    img{
        max-width: 40px;
    }
}

.derechos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p{
        margin: 0;
        padding-right: 10px;
    }
    img{
        max-width: 100px;
    }
}
