/* Style header */
@import "../utilities/variables";
header{
    border-bottom: 2px solid grey;
    background-color: $color-de-fondo;
    img{
        height: 6rem;
        transition: 2s;
        &:hover{
            transform: rotate(360deg);
        }
    }
    a:hover{
        padding: 10px;
    }
}