/* Style al htmlde index - main */

@mixin texto ($font-size, $text-align){
    font-size: $font-size;
    text-align: $text-align;
}

.main_home{
    background-image: url(../img/backgroundimg.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 13%;
    h1{
        color: rgb(2, 241, 241);
        @include texto(4rem, center);
        font-weight: bold;
    }
    p{
        color: rgb(2, 241, 241);
        @include texto(2rem, center);
        margin-top: 47px;
    }
}

/* style al html Servicios - main */
.titulo_servicios{
    text-align: center; 
    padding-bottom: 20px;
}

/* style al html Sobre-nosotros - main */
#sobre-nosotros {
    text-align: center;
}

